body {
    font-family: Arial, sans-serif;
    background-image: url('complain.jpeg');
    padding: 2rem;
}

.container {
    background-color: #aedf18;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 2rem;
    max-width: 500px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    margin-bottom: 2rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
}

input,
textarea {
    width: 100%;
    padding: 0.5rem;
    border-radius: 20px;
    border: 1px solid #ccc;
    margin-bottom: 1rem;
}

button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    cursor: pointer;
}

button:hover {
    background-color: #3e8e41;
}